<mat-form-field appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <input
        (change)="onValueChange($event)"
        matInput
        [placeholder]="placeholder"
        [formControl]="inputFormControl"
    />
    <mat-error *ngIf="inputFormControl.hasError('required')">Campo obligatorio</mat-error>
    <mat-error *ngIf="inputFormControl.hasError('email')">Formato de email incorrecto</mat-error>
    <mat-error *ngIf="inputFormControl.hasError('pattern')">Por favor ingrese un número correcto</mat-error>
  </mat-form-field>
