// COLORS
$primary: #673AB7
$blue: #354EC4
$white: white

//FONTS
$head-title__size: 34px
$head-title__letter-spacing: 2px

$title__size: 26px

$sub-title__size: 18px

$bold: bold
$semi-bold: 500
$regular: 400
