.head-title
    font-size: $head-title__size
    letter-spacing: $head-title__letter-spacing
    font-weight: $bold

.title
    font-size: $title__size
    font-weight: $semi-bold

.sub-title
    font-size: $sub-title__size
    font-weight: $semi-bold
