<ng-container [ngSwitch]="type">
    <button
        *ngSwitchCase="'normal'"
        mat-raised-button
        (click)="onClick()"
        color="primary"
    >
        {{ label }}
    </button>
    <button
        *ngSwitchCase="'icon'"
        mat-icon-button
        class="button--icon display-grid center"
        mat-button
        (click)="onClick()"
    >
        <ng-content></ng-content>
    </button>

    <button
        *ngSwitchCase="'next'"
        matStepperNext
        mat-raised-button
        (click)="onClick()"
        color="primary"
        [disabled]="disabled"
    >
        {{ label }}
    </button>

    <button
        *ngSwitchCase="'back'"
        matStepperPrevious
        mat-button
        (click)="onClick()"
        color="primary"
    >
        {{ label }}
    </button>
</ng-container>
