@import "styles/_variables.sass"
@import "styles/reset.sass"
@import "styles/animations.sass"
@import "styles/common.sass"
@import "styles/font.sass"

/* ------------ <PAGES> ----------- */
/* ------------ </PAGES> ----------- */

/* ------------ <TEMPLATES> ----------- */

/* <MAIN-LAYOUT> */

.main-layout

.main-layout__wrapper
    max-width: 900px
    margin: auto

.main-layout__wrapper
    grid-template-columns: 65% 1fr
    padding: 100px 0

.main-layout__header
    position: sticky
    top: 0
    z-index: 100

.main-layout__aside-content

@media (max-width: $responsive-tablet)
    .main-layout__wrapper
        padding: 80px 16px

@media (max-width: $responsive-mobile)
    .main-layout__wrapper
        grid-template-columns: 1fr
        padding: 50px 36px
    .main-layout__aside-content
        grid-row: 1

@media (max-width: $responsive-small)
    .main-layout__wrapper
        grid-template-columns: 1fr
        padding: 10px 36px
    .main-layout__content, .main-layout__aside-content
        width: 90%

/* </MAIN-LAYOUT> */

/* ------------ </TEMPLATES> ----------- */

/* ------------ <ORGANISMS> ----------- */

/* <HEADER> */

.header
    padding: 20px 0
    justify-content: space-between

.header__wrapper
    width: 900px
    margin: auto
    justify-content: space-between

.header__title

.header__nav
    width: 50%

/* </HEADER> */

/* <STEPER> */

.stepper__step-content, .stepper__step-actions
    width: 70%

.stepper__step-content
    gap: 10px

.stepper__step-actions
    justify-content: flex-end

@media (max-width: $responsive-mobile)
    .stepper__step-content, .stepper__step-actions
        width: 100%

@media (max-width: $responsive-small)
    .stepper__step-content, .stepper__step-actions
        width: 90%

/* </STEPER> */

/* ------------ </ORGANISMS> ----------- */

/* ------------ <MOLECULES> ----------- */

/* <AMOUNT-CARD> */
.amount-card__wrapper
    gap: 40px

.amount-card__label
    justify-self: flex-start
    color: $gray

.amount-card__amount
    justify-self: flex-end

@media (max-width: $responsive-small)
    .amount-card 
        width: 90%

/* </AMOUNT-CARD> */

/* <NAV> */
.nav__list
    justify-content: flex-end

.nav__item
    margin-left: 20px
    font-weight: $regular

.nav__link
    a
        padding: 0 10px

.nav-mobile-menu
    display: none

.nav-mobile
    height: 100vh
    top: 0
    position: absolute

@media (max-width: $responsive-mobile)
    .nav-mobile-menu
        display: flex
        justify-content: flex-end
    .nav
        display: none

/* </NAV>

/* <NAV-MOBILE> */
.nav-mobile__link
    height: 100px
    justify-content: stretch
    align-items: stretch
    border-bottom: 1px solid $gray

.nav-mobile__link
    a
        color: $primary
        width: 100%
        align-self: center
        text-align: center

/* </NAV-MOBILE> */

/* <SLIDER-INPUT> */

.slider-input
    display: inline-block

.slider-input__container
    display: flex
    flex-direction: column

.slider-input__layout
    position: relative

.slider-input__min-value, .slider-input__max-value
    position: absolute
    color: $gray
    bottom: -5px

.slider-input__min-value
    left: 0

.slider-input__max-value
    right: 0

/* <RESPONSE> */

.response
    align-items: center

.response__icon
    justify-content: start
    width: 50px
    &--pending
        mat-icon
            color: $primary
            animation: rotate 1s linear infinite
            animation-fill-mode: forwards
    &--approved
        mat-icon
            color: $green
    &--rejected
        mat-icon
            color: $red
    mat-icon
        font-size: 42px

.response__text
    &--pending
        color: $primary
    &--approved
        color: $green
    &--rejected
        color: $red

/* </RESPONSE> */

.table
    width: 70%

/* <TABLE>  */



/* </TABLE>  */

/* </SLIDER-INPUT> */

/* ------------ </MOLECULES> ----------- */

/* ------------ <ATOMS> ----------- */

/* <BUTTON> */

.button--icon
    padding: 0
    mat-icon
        display: flex
        font-size: 42px
        align-items: center

/* </BUTTON> */

/* ------------ </ATOMS> ----------- */
