<mat-stepper
    class="stepper"
    orientation="vertical"
    [linear]="isLinear"
    #stepper
>
    <mat-step *ngFor="let step of loanApplicationSteps">
        <ng-template matStepLabel>{{ step.name }}</ng-template>

        <div class="stepper__step-content">
            <ng-container
                *ngTemplateOutlet="stepsTemplate; context: step"
            ></ng-container>
        </div>

        <div class="stepper__step-actions display-flex">
            <a-button
                *ngIf="step.showBackButton"
                [stepperButton]="'back'"
                [label]="step.backButtonLabel"
            ></a-button>
            <a-button
                [stepperButton]="'next'"
                [label]="step.nextButtonLabel"
                (click)="test(step)"
            ></a-button>
        </div>
    </mat-step>
</mat-stepper>

<ng-template #stepsTemplate let-number="number" let-items="items">
    <ng-container [ngSwitch]="number">
        <ng-container *ngFor="let item of items">
            <ng-container
                *ngTemplateOutlet="itemsTemplate; context: item"
            ></ng-container>
        </ng-container>
        <!-- <form class="stepper__step-form display-grid" *ngSwitchCase="1">
            <a-datepicker
                class="display-grid"
                [label]="'Fecha de pago (Opcional)'"
            ></a-datepicker>
        </form> -->
        <!-- <form class="stepper__step-form display-grid" *ngSwitchCase="2">
            <a-input
                class="display-grid"
                [label]="'Nombre'"
                [placeholder]="''"
            ></a-input>
            <a-input
                class="display-grid"
                [label]="'Correo'"
                [placeholder]="''"
            ></a-input>
            <a-input
                class="display-grid"
                [label]="'Cédula'"
                [placeholder]="''"
            ></a-input>
        </form> -->
    </ng-container>
</ng-template>

<ng-template
    #itemsTemplate
    let-name="name"
    let-type="type"
    let-action="action"
    let-label="label"
>
    <ng-container [ngSwitch]="type">
        <m-slider-input
            *ngSwitchCase="'slider-input'"
            class="display-grid"
            [value]="bankState.minLoanAmount"
            [minValue]="bankState.minLoanAmount"
            [maxValue]="bankState.maxLoanAmount"
            [action]="action"
        ></m-slider-input>
        <a-datepicker
            *ngSwitchCase="'datepicker'"
            class="display-grid"
            [label]="label"
            [action]="action"
        ></a-datepicker>
        <a-input
            *ngSwitchCase="'input'"
            class="display-grid"
            [label]="label"
            [placeholder]="''"
        ></a-input>
    </ng-container>
</ng-template>
