<mat-stepper
    #stepper
    class="stepper"
    orientation="vertical"
    [linear]="isLinear"
>
    <mat-step
        *ngFor="let step of loanApplicationSteps"
        [stepControl]="step.formGroup ?? voidForm"
    >
        <ng-template matStepLabel>{{ step.name }}</ng-template>

        <div class="stepper__step-content display-grid">
            <ng-container
                *ngTemplateOutlet="stepsTemplate; context: step"
            ></ng-container>
        </div>

        <div
            *ngIf="!step.hideButtons"
            class="stepper__step-actions display-flex"
        >
            <a-button
                *ngIf="step.showBackButton"
                [type]="'back'"
                [label]="step.backButtonLabel"
            ></a-button>
            <a-button
                [type]="'next'"
                [label]="step.nextButtonLabel"
                (click)="step.isSubmit ? dispatchCreateAction() : null"
                [disabled]="step.formGroup?.invalid || false"
            ></a-button>
        </div>
    </mat-step>
</mat-stepper>

<ng-template
    #stepsTemplate
    let-number="number"
    let-items="items"
    let-formGroup="formGroup"
>
    <ng-container [ngSwitch]="number">
        <ng-container *ngFor="let item of items">
            <ng-container
                *ngTemplateOutlet="
                    itemsTemplate;
                    context: { item: item, formGroup: formGroup }
                "
            ></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template
    #itemsTemplate
    let-name="item.name"
    let-type="item.type"
    let-action="item.action"
    let-label="item.label"
    let-requiered="item.requiered"
    let-validators="item.validators"
    let-formGroup="formGroup"
>
    <ng-container [ngSwitch]="type">
        <m-slider-input
            *ngSwitchCase="'slider-input'"
            class="display-grid"
            [value]="bankState.minLoanAmount"
            [minValue]="bankState.minLoanAmount"
            [maxValue]="bankState.maxLoanAmount"
            [action]="action"
        ></m-slider-input>
        <a-datepicker
            *ngSwitchCase="'datepicker'"
            class="display-grid"
            [label]="label"
            [action]="action"
        ></a-datepicker>
        <a-input
            *ngSwitchCase="'input'"
            class="display-grid"
            [name]="name"
            [label]="label"
            [placeholder]="''"
            [action]="action"
            [requiered]="requiered"
            [validators]="validators"
            [formGroup]="formGroup"
        ></a-input>
        <app-response
            *ngSwitchCase="'response'"
            [currentLoanStatus]="currentLoanAppplicationState.status"
        ></app-response>
    </ng-container>
</ng-template>
